.calculator {
  background: #000;
  padding: 25px;
  border-radius: 40px;
  width: 360px;
}
button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease;
}
/* Number buttons */
button[data-number] {
  background: #1c1c1c;
  color: white;
}

/* Top row (C etc) */
button[data-action="clear"] {
  background: #a5a5a5;
  color: black;
}

/* Operators */
button[data-action="add"],
button[data-action="subtract"],
button[data-action="multiply"],
button[data-action="divide"],
button[data-action="equals"] {
  background: #ff9500;
  color: white;
}
.zero {
  grid-column: 2 / span 2;
  border-radius: 40px;
  justify-content: flex-start;
  padding-left: 28px;
}
.display {
  background: black;
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  text-align: right;
  padding: 20px 10px;
  border-radius: 20px;
}
button:active {
  transform: scale(0.92);
}
